nav.topBarMenu {
    display: flex;
    flex-direction: row;
    padding: var(--space-default);
    justify-content: end;
    .end {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        justify-content: end;
    }
}

